/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
.qnum {
	display: none;
}

#headernav {
	position: absolute;
	top: 17px;
	left: 200px;
	color: white;
}

#headernav a{
	color: white;
}

#headernav ul li{
	display: inline;
}
.nav
{
	position: absolute;
	width: 1000px;
	top: 70px;
	left: 150px;
	right: 0px;	
}
.whole
{
	
	top: 70px;
	left: 90px;
	right: 0px;	
}
.selec
{   left: 200px;
	position: absolute;
}

/*.navbar-inner {

	width: 600px;
	top: 17px;
	left: 200px;

}

.navbar .navbar-fluid-top {
	position: absolute;
	width: 600px;
	top: 17px;
	left: 200px;
}
.btn .btn-navbar
{
	position: absolute;
	width: 600px;
	top: 17px;
	left: 100px;
}
*/