/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
.main {
	background-color: #FFF;
}

.qnum {
	display: none;
}

.headertext a{
	color: white;
}

.navbar {
	background-color: #224;
}

.headertext a:hover{
	color: #DDD;
	text-decoration: none;
}

.whole{
	top: 70px;
	left: 90px;
	right: 0px;	
}

.selec{   
	left: 200px;
	position: absolute;
}

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	color: #AAA;
}

#msu-logo{
	background-color: #003F7E; 
	height: 116px; 
	background-image: url('http://www.montana.edu/msucommon/home/images/banner.png'); 
	background-repeat: no-repeat;
}

#error_explanation h2{
	font-size: 85%;
}
